* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.trybewarts-header-logo {
  width: 100px;
}

.trybewarts-login {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
}

.radio-checks {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#content-to-learn {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
